


/* optional */
header {display: flex; height:7vh; background:white;
justify-content: center;
align-items:center;
text-align: center;

}
button{
    margin:5px;
}

label {
    display: inline-block;
    margin-top: 5px;
    vertical-align: bottom;
    text-align: left;
}